{% extends "base.html" %}

{% block title %} iBlog {% endblock %}

{% block content %}

<div class="container-fluid p-0 mb-4 position-relative">
    <img src="https://placehold.co/1280x450" class="card-img-top" alt="Placeholder image">

    <div class="position-absolute bottom-0 end-0 text-start text-white p-3 mb-3"
         style="background: rgba(0, 0, 0, 0.5);">
        <h1>Welcome to iBlog</h1>
        <p>Your daily read of tidbits and musings</p>
    </div>
</div>


<div class="container py-4">
    <h2>My Blogs</h2>
    <hr>
    <div id="posts-container" class="row row-cols-1 row-cols-md-3 g-4">

    </div>
</div>

<div id="alert-placeholder" class="mt-3"></div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}


